@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hide for Webkit browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar hide for Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* Custom scrollbar hide for IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
}
